* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leaflet-control-zoom {
    display: none;
  }

  a, .router-link, .router-link-exact, .router-link-exact-active, li.section, .copy-address, .add-wallet,
  .b-checkbox.checkbox {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  }